
{{!-- usuario e opcoes  --}}
<div class="row m-0 p-0">

    <div class="col-sm-9">
        <nav class="navbar bg-body-secondary mt-2 rounded rounded-3">
            <div class="container-fluid">
                <h3 class="navbar-brand">Menu</h3>
                <nav class="nav">

                    <a class="btn btn-sm btn-outline-primary mx-2" href="/aluno"><i
                            class="fa-solid fa-box-open"></i>Lista de xxxxx</a>

                    <a class="btn btn-sm btn-outline-success mx-2" href="/aluno/cadastrar"><i
                            class="fa-solid fa-box-open"></i>Cadastro dexxx</a>

                </nav>
            </div>
        </nav>
    </div>
</div>
