<div class="col-md-6 mx-auto shadow p-2 mt-3 bg-body rounded-4">
    <nav class="navbar bg-body-tertiary mb-4">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h2 class="navbar-brand mb-0">Cadastro de Usuário</h2>
            <a class="btn btn-sm btn-secondary" href="/usuario/usuarios">
                <i class="fa-solid fa-angle-left"></i> Voltar
            </a>
        </div>
    </nav>

    <form method="post" action="/usuario/cadastrar" class="p-2 border rounded text-black shadow">
        <div class="mb-2    ">
            <label class="form-label">Nome de Usuário</label>   
            <input class="form-control bg-secondary text-white border-0" type="text" name="nome" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control bg-secondary text-white border-0" type="email" name="email" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input class="form-control bg-secondary text-white border-0" type="password" name="senha" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select class="form-select bg-secondary text-white border-0" name="tipo">
                <option value="1">Padrão</option>
                <option value="0">Admin</option>
            </select>
        </div>

        <button class="btn btn-success w-100" type="submit">Salvar</button>
    </form>
</div>
