<div class="col-md-4 shadow p-2 mx-auto">
    
<form method="post" action="/usuario/login">
    <label>NOME DE USUÁRIO</label>
    <input type="text" name="username" class="form-control" required>

    <label for="">SENHA</label>
    <input type="password" name="password" class="form-control" required>

    <button class="btn btn-success" type="submit">Entrar</button>
</form>

</div>