<div class="col-md-4 shadow bg-body text-black rounded mt-4 p-2 mx-auto">
    
<form method="post" action="/usuario/login">
    <label>EMAIL</label>
    <input type="text" name="email" class="form-control" required>

    <label for="">SENHA</label>
    <input type="password" name="password" class="form-control" required>

    <button class="btn btn-success mt-2" type="submit">Entrar</button>
</form>

</div>