<table class="table">
  <thead class="">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Nome</th>
    </tr>
  </thead>
  <tbody>
    {{#each usuarios}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{email}}</td>
            <td>{{nome}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>

<a href="/usuario/cadastrar" class="btn btn-light">CADASTRAR USUÁRIO</a>